#Education{
    background: linear-gradient(to right,#3a1c71 , #d76d77,#ffaf7b);
    min-height: 115vh;
}
#Educationheading{
    padding-top: 11vh;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
.educontainer{
    background: linear-gradient(to right,#371771 , #b54d58,#bf7d51);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 75vh;
}
.edu-inner-container{
    padding: 2rem;
    border: 0.35rem solid transparent;
    border-image: linear-gradient(45deg, rgb(68, 0, 255) , rgb(212, 142, 62));
    border-image-slice: 1;
    border-style: outset;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to right,rgb(196, 243, 243) , #efe0e1);
    transform: translateZ(30px);
}
.edu-inner-container:hover{
    transform: scale(1.005);
    cursor: pointer;
}
.edu-body{
    margin-bottom: 2rem;
}
.edu-logo-container{
    display: flex;
    justify-content: center;

}
.criologo{
    border-radius: 10rem;
    width: 6rem;
}
.edu-body{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}
.rightarrow{
    margin-right: 0.5rem;
}
.refericon:hover{
    cursor: pointer;
}
@media screen and (width > 900px) {
    .edu-inner-container{
        min-width: 1000px;
        max-height: 250px;
    }
}
@media screen and (width<568px) {
    .edu-inner-container{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}