@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");

#Experience {
  background-color: rgb(234, 236, 224);

  padding-bottom: 2rem;
}

.experience-heading {
  padding-top: 11vh;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  font-family: "Noto Sans JP", sans-serif;
  font-size: larger;
}

.experience-heading span {
  color: blueviolet;
  margin-left: 0.2rem;
}
